body {
  background-color: #d2f6c5;
}

hr {
  background-color: white;
  border-style: none;
  height: 2px;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}

div {
  margin: 0 19% 0 19%;
}
